<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<table class="table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Fname</th>
        <th scope="col">Lname</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Enrollment no</th>
        <th scope="col">Qualification</th>
        <th scope="col">City</th>
        <th scope="col">Collage</th>
        <th scope="col">Brithdate</th>
        <th scope="col">Createdate</th>
      </tr>
    </thead>

    <% for(i=0; i<data.length; i++) {%>

      <td> <%= data[i].fname%> </td>
      <td> <%= data[i].lname%> </td>
      <td> <%= data[i].gender%> </td>
      <td> <%= data[i].email%> </td>
      <td> <%= data[i].mobile%> </td>
      <td> <%= data[i].enrollment%> </td>
      <td> <%= data[i].qualification%> </td>
      <td> <%= data[i].city%> </td>
      <td> <%= data[i].collage%> </td>
      <td> <%= data[i].brithdate%> </td>
      <td> <%= data[i].createdate%> </td>
<% }%>


  </table>
</body>
</html>











