<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exam form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="css/nunito-font.css">
    <link rel="stylesheet" type="text/css"
        href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <div class="page-content">
        <div class="wizard-v5-content">
            <div class="wizard-form">
                <form class="form-register" id="form-register" onsubmit="return validateAll()"
                    action="/create_exam/exam_data" method="post">
                    <div id="form-total">
                        <h2>
                            <span class="step-text">Create Exam Here</span>
                        </h2>
                        <section>
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="first_name">Exam Name</label>
                                        <input type="text" placeholder="write exam name here" class="form-control"
                                            id="examname" name="examname" autocomplete="off"
                                            oninput="validateExamName()">
                                        <p id="err"></p>
                                    </div>

                                    <div class="form-holder">
                                        <label>Exam Access Code</label>
                                        <input type="text" placeholder="write access code here" class="form-control"
                                            oninput="validateExamCode()" id="examcode" name="examcode"
                                            autocomplete="off">
                                        <p id="err1"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="total_que">Total Questions</label>
                                        <input type="text" placeholder="write total questions here" oninput="valtidateQuestion()"
                                            class="form-control"  id="totalque" name="totalque"
                                            autocomplete="off">
                                        <p id="err2"></p>
                                    </div>
                                    <div class="form-holder">
                                        <label for="duration">Duration Of Exam</label>
                                        <input type="text" min="10" placeholder="minimum 10 minutes"  oninput="valtidateDuration()"
                                            class="form-control" id="duration" name="duration" autocomplete="off">
                                        <p id="err3"></p>
                                    </div>
                                </div>
                                <p id="err4"></p>
                            </div>
                            <input type="submit" id="button1" class="btn btn-primary" value="save">
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/main.js"></script>
<script>

    function validateExamName() {
        let x = document.getElementById('examname').value;
        let err1 = document.getElementById('err');
        // let name1 = name.toUpperCase();

        let symbol = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~', '=', '[', ']', '{', '}', "'"];
        let numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];

        if (x == '') {
            err1.innerHTML = 'plz fill the name!';
            document.getElementById('button1').disabled = true;
            document.getElementById('button1').style.opacity = 0.3;
            return false;
        }
        else {
            for (i = 0; i < symbol.length; i++) {
                if (x.includes(symbol[i])) {
                    err1.innerHTML = '*you cannot enter special character!';
                    document.getElementById('button1').disabled = true;
                    return false;
                }
            }
            if (!isNaN(x)) {
                err1.innerHTML = '*you cannot enter a number value in exam name';
                document.getElementById('button1').disabled = true;
                document.getElementById('button1').style.opacity = 0.3;
                return false;
            }
            else if (x.startsWith('_') || x.endsWith('_')) {
                err1.innerHTML = '*cannot give _ at first or last character in exam name';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else if (x.length > 20) {
                err1.innerHTML = '*your exam name is too long! try short name instead';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else {
                err1.innerHTML = '';
                document.getElementById('button1').disabled = false;
                document.getElementById('button1').style.opacity = null;
                return true;
            }
        }
    }

    function validateExamCode() {
        let y = document.getElementById('examcode').value;
        let err2 = document.getElementById('err1');

        let symbol1 = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~', '=', '[', ']', '{', '}', '_'];

        if (y == '') {
            err2.innerHTML = 'plz enter excess code!';
            document.getElementById('button1').disabled = true;
            document.getElementById('button1').style.opacity = 0.3;
            return false;
        }
        else {
            for (i = 0; i < symbol1.length; i++) {
                if (y.includes(symbol1[i])) {
                    err2.innerHTML = '*you cannot enter special character!';
                    document.getElementById('button1').disabled = true;
                    return false;
                }
            }
            if ((y.length > 6 || y.length < 6)) {
                err2.innerHTML = '*you cannot enter a more or less than 6 digitcode';
                document.getElementById('button1').disabled = true;
                document.getElementById('button1').style.opacity = 0.3;
                return false;
            } else {
                err2.innerHTML = '';
                document.getElementById('button1').disabled = false;
                document.getElementById('button1').style.opacity = null;
                return true;
            }
        }

    }

    function valtidateQuestion() {
        var que = document.getElementById('totalque').value
        let err2 = document.getElementById('err2');

        let symbol = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~', '=', '[', ']', '{', '}', "'"];
        let numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];

        if (que == '') {
            err2.innerHTML = 'plz provide total question!';
            document.getElementById('button1').disabled = true;
            document.getElementById('button1').style.opacity = 0.3;
            return false;
        }
        else {
            for (i = 0; i < symbol.length; i++) {
                if (que.includes(symbol[i])) {
                    err2.innerHTML = '*you cannot enter special character!';
                    document.getElementById('button1').disabled = true;
                    return false;
                }
            }
            if (isNaN(que)) {
                err2.innerHTML = '*plz write a number value in total question';
                document.getElementById('button1').disabled = true;
                document.getElementById('button1').style.opacity = 0.3;
                return false;
            }
            else if (que.startsWith('_') || que.endsWith('_')) {
                err2.innerHTML = '*cannot give _ at first or last character in exam name';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else if (que <= 5) {
                err2.innerHTML = '*length is too short!';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else if (que > 100) {
                err2.innerHTML = '*cannot enter grether than 100 questions!';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else {
                err2.innerHTML = '';
                document.getElementById('button1').disabled = false;
                document.getElementById('button1').style.opacity = null;
                return true;
            }
        }
    }

    function valtidateDuration() {
        var duration = document.getElementById('duration').value;
        let err3 = document.getElementById('err3');
        // console.log(duration)

        let symbol = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~', '=', '[', ']', '{', '}', "'"];

        if (duration == '') {
            err3.innerHTML = 'plz provide total question!';
            document.getElementById('button1').disabled = true;
            document.getElementById('button1').style.opacity = 0.3;
            return false;
        }
        else {
            for (i = 0; i < symbol.length; i++) {
                if (duration.includes(symbol[i])) {
                    err3.innerHTML = '*you cannot enter special character!';
                    document.getElementById('button1').disabled = true;
                    return false;
                }
            }
            if (isNaN(duration)) {
                err3.innerHTML = '*plz write a number value in total question';
                document.getElementById('button1').disabled = true;
                document.getElementById('button1').style.opacity = 0.3;
                return false;
            }
            else if (duration.startsWith('_') || duration.endsWith('_')) {
                err3.innerHTML = '*cannot give _ at first or last character in exam name';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else if (duration <= 10) {
                err3.innerHTML = '*length is too short!';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else if (duration > 100) {
                err3.innerHTML = '*cannot enter grether than 100 questions!';
                document.getElementById('button1').disabled = true;
                return false;
            }
            else {
                err3.innerHTML = '';
                document.getElementById('button1').disabled = false;
                document.getElementById('button1').style.opacity = null;
                return true;
            }
        }
    }
    function validateAll() {
        let x = document.getElementById('examname').value;
        let y = document.getElementById('examcode').value;
        let z = document.getElementById('totalque').value;
        let w = document.getElementById('duration').value;

        let err4 = document.getElementById('err4');

        if ((x == '' && y == '' && z == '' && w == '')) {
            err4.innerHTML = '*plz enter all fields!';
            document.getElementById('button1').style.opacity = 0.3;
            document.getElementById('button1').disabled = true;
            return false;
        }
        else {
            if (z == '' || w == '' || x == '' || y == '') {
                err4.innerHTML = '*plz fill all details!';
                document.getElementById('button1').style.opacity = 0.3;
                document.getElementById('button1').disabled = true;
                return false;
            }
            else{
            err4.innerHTML = '';
            document.getElementById('button1').style.opacity = null;
            document.getElementById('button1').disabled = false;
            return true;
            }
            err4.innerHTML = '';
            document.getElementById('button1').style.opacity = null;
            document.getElementById('button1').disabled = false;
            return true;
        }
    }
</script>

</html>