<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exam form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <div class="page-content">  
        <div class="wizard-v5-content">
            <div class="wizard-form">
                <form class="form-register" id="form-register" action="" method="">
                    <div id="form-total">
                        <h2>
                            <span class="step-text">Create Exam Here</span>
                        </h2>
                        <section>
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="first_name">Exam Name</label>
                                        <input type="text" placeholder="write exam name here" class="form-control" id="examname"
                                            name="examname"  oninput="validateform()">
                                    </div>
                                    <div class="form-holder">
                                        <label for="last_name">Exam Access Code</label>
                                        <input type="text" placeholder="write access code here" class="form-control" id="examcode"
                                            name="examcode">
                                    </div>
                                </div>
                            </div>

                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="total_que">Total Question</label>
                                        <input type="number" placeholder="write total questions here" class="form-control" min="5" value="5" max="50" id="totalque"
                                            name="totalque">
                                    </div>
                                    <div class="form-holder">
                                        <label for="duration">Duration Of Exam</label>
                                        <input type="text" placeholder="duration in minutes" class="form-control" id="duration"
                                            name="duration" value="10">
                                    </div>
                                </div>
                            </div>
                          
                            <div >
                                <input type="button" class="btn" class="btn btn-primary" onclick="validateform()" value="Save">
                            </div>
                              
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
  function validateform() {
    let x = document.getElementById('examname').value;
    let y = document.getElementById('examcode').value;
    let z = document.getElementById('totalque').value;
    let w = document.getElementById('duration').value;
    
    if (x == '' || y == '' || z == '' || w=='') {
      alert('fields cannot be empty!')
      return false;
    }
     if(x.length>20){
      alert('exam name is too long! try short name instead')
      return false;
     }
    if (!isNaN(x)) {
      alert('you cannot enter a number value in exam name');
      return false;
    }

    if (y.length > 6 || y.length < 6) {
      alert('you cannot enter a more or less than 6 digitcode');
      return false;
    }

    if(y.includes('@') || y.includes('#') || y.includes('$') || y.includes('%') || y.includes('^') || y.includes('*') || y.includes('/') || y.includes('!')){
      alert('access code requires only alpha numeric code');
      return false;
    }

  }
</script>
</html>