<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exam form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="css/nunito-font.css">
    <link rel="stylesheet" type="text/css"
        href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>
    <div class="page-content">
        <div class="wizard-v5-content">
            <div class="wizard-form">
                <form class="form-register" id="form-register" onsubmit="return validateAll()"
                    action="/create_exam/exam_data" method="post">
                    <div id="form-total">
                        <h2>
                            <span class="step-text">Create Exam Here</span>
                        </h2>
                        <section>
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="first_name">Exam Name</label>
                                        <input type="text" placeholder="write exam name here" class="form-control"
                                            id="examname" name="examname" autocomplete="off"
                                            oninput="validateExamName()">
                                        <p id="err"></p>
                                    </div>

                                    <div class="form-holder">
                                        <label>Exam Access Code</label>
                                        <input type="text" placeholder="write access code here" class="form-control"
                                            id="examcode" name="examcode" autocomplete="off">
                                        <p id="err1"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="total_que">Total Questions</label>
                                        <input type="number" placeholder="write total questions here"
                                            class="form-control" min="5" id="totalque" name="totalque"
                                            autocomplete="off">
                                    </div>
                                    <div class="form-holder">
                                        <label for="duration">Duration Of Exam</label>
                                        <input type="number" min="10" placeholder="minimum 10 minutes"
                                            class="form-control" id="duration" name="duration" autocomplete="off">
                                    </div>
                                </div>
                                <p id="err2"></p>
                            </div>
                            <input type="submit" id="button1" class="btn btn-primary" value="save">
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/main.js"></script>
<script>

    function validateAll() {
        let x = document.getElementById('examname').value;
        let y = document.getElementById('examcode').value;
        let z = document.getElementById('totalque').value;
        let w = document.getElementById('duration').value;

        console.log(x, y, z, w);
        let err1 = document.getElementById('err');
        let err2 = document.getElementById('err1');
        let err3 = document.getElementById('err2');

        let symbol = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~', '=', '[', ']', '{', '}'];

        let symbol1 = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '<', '>', '?', '/', ',', '.', '"', ':', ';', '+', '-', '`', '~', '=', '[', ']', '{', '}', '_'];

        let numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];


        if (x == '' && y == '' && z == '' && w == '') {
            err3.innerHTML = '*plz enter all fields!';
            document.getElementById('button1').style.opacity = 0.3;
            document.getElementById('button1').disabled = true;
            return false;
        }

        else {

            if (x == '' || y == '' || z == '' || w == '') {
                err3.innerHTML = '*plz enter all the fields'
                document.getElementById('button1').disabled = true;
                return false;
            }
            else {

                if (x.length > 20) {
                    err1.innerHTML = '*your exam name is too long! try short name instead';
                    return false;
                }
                if (!isNaN(x)) {
                    err1.innerHTML = '*you cannot enter a number value in exam name';
                    return false;
                }

                if (x.endsWith('_') || x.startsWith('_')) {
                    err1.innerHTML = '*cannot give _ at first or last character in exam name';
                    return false;
                }
                for (i = 0; i < numbers.length; i++) {
                    if (x.startsWith(numbers[i])) {
                        err1.innerHTML = '*examname cannot starts with number';
                        return false;
                    }
                }
                for (i = 0; i < symbol.length; i++) {
                    if (x.includes(symbol[i])) {
                        err1.innerHTML = '*you cannot enter special character!';
                        document.getElementById('button1').disabled = true;
                        return false;
                    }
                    else{
                        err1.innerHTML = '';
                        document.getElementById('button1').disabled = true;
                        return true;
                    }
                }

                if (y.length > 6 || y.length < 6) {
                    err2.innerHTML = '*you cannot enter a more or less than 6 digitcode';
                    // document.getElementById('button1').disabled = true;
                    return false;
                }
                else{
                    err2.innerHTML = ''
                }

                for (i = 0; i < symbol1.length; i++) {
                    if (y.includes(symbol1[i])) {
                        err2.innerHTML = '*No special character would allowed in exam code';
                        // document.getElementById('button1').disabled = true;
                        return false;
                    }
                }
                err3.innerHTML = null;
                document.getElementById('button1').style.opacity = null;
                // document.getElementById('button1').disabled = false;
                return true;

            }

        }

    }


    function validateExamName() {
        let name = document.getElementById('examname').value;
        let name1 = name.toUpperCase();

        fetch(`/create_exam/validatename?name=${name1}`).then((res) => {
            return res.json();
        }).then((data) => {
            console.log(data);
            for (i = 0; i < data.length; i++) {
                if (data[i].exam_name == name1) {
                    document.getElementById('err').innerHTML = '*examname already exits! try another';
                    document.getElementById('button1').style.opacity = 0.3;
                    document.getElementById('button1').disabled = true;
                    break;
                }
                else {
                    document.getElementById('err').innerHTML = null;
                    document.getElementById('button1').style.opacity = null;
                    document.getElementById('button1').disabled = false;
                }
            }
        })
    }
</script>

</html>