<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exam form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" href="/css/create-exam.css">
    <link rel="stylesheet" type="text/css" href="css/nunito-font.css">
    <link rel="stylesheet" type="text/css"
        href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
   

</head>

<body>
    <div class="page-content">
        <div class="wizard-v5-content">
            <div class="wizard-form">
                <form class="form-register" method="POST" action="/exams/chooseQuestions" id="form-register">
                    <div id="form-total">
                        
                        <section>
                            <div class="inner">
                                <h2>
                                    <span class="step-text">Create Exam Here</span>
                                </h2>
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="first_name">Exam Name</label>
                                        <input type="text" placeholder="write exam name here" class="form-control" oninput="validateExamTitle()"
                                            id="examname" name="examname" autocomplete="off"
                                            >
                                        <p id="examname-err"></p>
                                    </div>

                                    <div class="form-holder">
                                        <label>Exam Access Code</label>
                                        <input type="text" placeholder="write access code here" class="form-control"
                                            id="examcode" name="examcode" autocomplete="off" oninput="validateExamAccessCode(); validateInfo();">
                                        <p id="examcode-err"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="total_que">Total Questions</label>
                                        <input type="number" placeholder="write total questions here"
                                            class="form-control" min="5" id="totalque" name="totalque"
                                            autocomplete="off" value="10" oninput="validateExamQuestion(); validateInfo();">
                                            <p id="totalque-err"></p>

                                    </div>
                                    <div class="form-holder">
                                        <label for="duration">Duration Of Exam</label>
                                        <input type="number" min="10" placeholder="minimum 10 minutes"
                                            class="form-control" id="duration" name="duration" autocomplete="off" value="10" oninput="validateExamDuration(); validateInfo();">
                                            <p id="duration-err"></p>

                                    </div>
                                </div>
                                
                            </div>
                            <p id="main-exam-err"></p>

                            <input type="submit" id="create-exam-btn" class="btn btn-primary" value="Next" onclick="validateInfo()" disabled>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/create-exam.js"></script>
</html>
