<div class="user-exam-pagination-bar w- d-flex justify-content-between mx-2">
    <div class="user-exam-status-card w-6">
      Showing 1 to 10 of 57 entries
    </div>
    <div class="user-exam-pagination-btn-card w-4">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only"></span></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </div>
  </div>