<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Question Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/questions.css">
</head>

<body>
  <div class="container-fluid question-page-container">
    <div class="row question-page-wrapper m-5">

      <section class="col">
        <div class="col">
          <div class="question-title">
            <h5 class="large-font">All Questions</h5>
          </div>
          <div class="col">
            <% for(let i=0;i<questions.length;i++){%>
              <div class="container-fluid my-1">
                <div class="question pt-2 mt-2">
                  <div class="py-2 h5"><b>
                      <%= questions[i].question %>
                    </b></div>
                  <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">

                    <%for (let j=0;j<questions[i].option.length;j++){%>

                          <% if(questions[i].correct_ans[j]){ %>
                            <p class="true-answer">
                              <%= questions[i].option[j] %>
                            </p>
                          <%}else{%>
                          <p class="false-answer">
                            <%= questions[i].option[j] %>
                          </p>
                          <%}%>
                        
                        
                    <%}%>

                  </div>
                </div>
              </div>
              <%}%>
          </div>
        </div>
      </section>

    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>