/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}
.container{
    width: 1170px;
   margin: 0 auto;
   padding: 0 16px;
}
.row{
    margin: 0 -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }

 .category{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    gap:50px;
    cursor: pointer;
 }
 .category p {
    width: 100px;
    text-align: center;
    background-color:rgb(55, 175, 245);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
 }

 .card-body{
    padding-top: 100px;
    width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 20px
 } */



 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}

.container{
    width: 1170px;
   margin: 0 auto;
   padding: 0 16px;
}

.row{
    margin: 0 -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }

 .choose-nav-content{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100%;   
 }
 .card-body{
    padding-top: 100px;
    width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 20px}

 .question-counter{
    display: flex;
    justify-content: space-between;
    gap: 40px;
 }

 .total-question {
    background-color: #24a0ed;
    padding: 10px 10px;
 }

 
 .selected-question{
    padding: 10px 10px;
 }

 /* .category{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 1rem 1rem;
    text-align: center;
    gap:50px;
    cursor: pointer;
 } */

 .card-body{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 1rem 1rem;
 }

 .category{
   display: flex;
   justify-content: space-between;
   padding: 1rem 1rem;
   gap:50px;
   cursor: pointer;
}
.category p {
   width: 100px;
   text-align: center;
   background-color:rgb(55, 175, 245);
   color: white;
   font-weight: bold;
   border-radius: 20px;
   padding: 10px;
}

 .choose-ques-buttons-div{
        display: flex;
        justify-content: center;
}
 .choose-ques-buttons{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
 }
