.main-container{
    min-height: 100vh;
    width: 100%;
    padding: 30px;
}

.question-page-container {
    min-height: 100vh;
    background-color: var(--bg-clr);
}

.large-font {
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.blur-card{
    opacity: 0.5;
}

.mt-check{
    margin-top: 12px;
}

.question-title,.question-add-btn{
    margin-left: 15px;
}

.question-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.true-answer{
    font-weight: 600;
    color: green;
}
.question-action-btn{
    margin-right: 10px;
}
.question-bar {
    transition: all .5s ease-in-out;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px 2px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.question-count{
    font-size: 20px;
    margin-left: 10px;
}

.data-eror{
    text-align: center;
}

.options {
    position: relative;
    padding-left: 40px;
}

#options label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.options input {
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.options input:checked~.checkmark:after {
    display: block;
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark {
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
}

@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px;
    }
}