
*,
*::before,
*::after {
    box-sizing: border-box
}

@media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

.card-header-chart{
    cursor: pointer;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25
}

#category-info{
    width: 624px;
    height: 329px;
}

.app-header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    border-bottom: 1px solid #e7e9ed;
    height: 56px;
    background: #fff
}

.app-user-dropdown img {
    width: 36px;
    height: 36px
}

@media(min-width: 576px) {
    .app-notifications-dropdown .dropdown-menu {
        width: 400px
    }
} 

@media(min-width: 1200px) {
    .app-header-inner {
        margin-left: 250px
    }
}

@media(max-width: 575.98px) {
    .search-mobile-trigger {
        cursor: pointer;
        -webkit-opacity: .8;
        -moz-opacity: .8;
        opacity: .8
    }

    .search-mobile-trigger:hover {
        color: #15a362;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1
    }

    .app-search-box {
        display: none;
        position: absolute;
        left: 0;
        top: 56px;
        padding: 0;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out
    }
}

@media(max-width: 575.98px)and (prefers-reduced-motion: reduce) {
    .app-search-box {
        transition: none
    }
}

@media(max-width: 575.98px) {
    .app-search-box .app-search-form .search-input {
        border-radius: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

    .app-search-box .app-search-form .search-btn {
        top: 7px
    }
}


.app-sidepanel {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 0;
    font-size: .875rem;
    border-right: 1px solid #e7e9ed
}

.app-sidepanel .sidepanel-inner {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .05) 0px 8px 15px;
    width: 250px;
    height: 100%
}

.app-branding {
    height: 60px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem
}

.app-branding .logo-icon {
    width: 36px;
    height: 36px
}

.app-branding .logo-text {
    color: #252930;
    font-size: 1.25rem;
    font-weight: 600;
    vertical-align: middle
}


/* navbar links css */
.app-nav {
    color: #5d6778;
    display: block;
    padding: 0;
    width: 100%
}

.app-nav .nav-link {
    display: block;
    padding: .875rem 1rem;
    color: #252930;
    position: relative;
    display: block;
    padding-left: 3rem;
    border-left: 3px solid rgba(0, 0, 0, 0)
}


/* css for navbar activation link */
.app-nav .nav-link.active {
    color: #4245cb;
    background: #edfdf6;
    border-left: 3px solid #4245cb;
    font-weight: 500
}


.app-nav .nav-link:hover {
    color: #4245cb;
}

.app-nav .nav-icon {
    position: absolute;
    left: 1rem;
    top: .7rem
}

.app-nav .nav-icon .bi {
    width: 1.25rem;
    height: 1.25rem
}


@media(prefers-reduced-motion: reduce) {
    .app-nav .submenu-toggle {
        transition: none
    }
}

.app-nav .submenu-toggle[aria-expanded=true] .submenu-arrow {
    color: #252930
}


/* css use for enable and disable side panel  */
 @media(max-width: 1199.98px) {
    .app-sidepanel {
        transition: all .4s ease-in-out;
        left: -400px
    }
}

@media(max-width: 1199.98px)and (prefers-reduced-motion: reduce) {
    .app-sidepanel {
        transition: none
    }
} 

@media(min-width: 1200px) {
    .app-wrapper {
        margin-left: 250px
    }
}

.app {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    padding-top: 56px;
    overflow-x: hidden
}

/* css for card highlight colors */
.card-highlight-blue{
    height: 100%;
    width: 7px;
    background-color: rgb(78,115,223);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.card-highlight-grren{
    height: 100%;
    width: 7px;
    background-color: rgb(84,189,207);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.card-highlight-sky{
    height: 100%;
    width: 7px;
    background-color: rgb(81,200,137);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.card-highlight-yellow{
    height: 100%;
    width: 7px;
    background-color: rgb(245,194,61);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

/* css use for all cards */
.app-card {
    position: relative;
    background: #fff;
    border-radius: .25rem
}

.app-card.border-left-decoration {
    border-left: 3px solid #4245cb;
}


.app-card .app-card-link-mask {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card .app-card-header {
    border-bottom: 1px solid #e7e9ed
}

.app-card .app-card-title {
    font-size: 1.125rem;
    margin-bottom: 0
}

.app-card .card-header-action {
    font-size: .875rem
}

.app-card .card-header-action a:hover {
    text-decoration: underline
}

.app-card .form-select-holder {
    display: inline-block
}

.app-card .btn-close {
    padding: 1rem
}

.app-card .btn-close:focus {
    box-shadow: none
}

.app-card-stat {
    text-align: center
}

.app-card-stat .stats-type {
    font-size: .875rem;
    color: #828d9f;
    text-transform: uppercase
}

.app-card-stat .stats-figure {
    font-size: 2rem;
    color: #252930
}

.app-card-stat .stats-meta {
    font-size: .875rem;
    color: #828d9f
}


.app-card-progress-list .item .title {
    font-size: .875rem;
    font-weight: 500
}

.app-card-progress-list .item .meta {
    font-size: .875rem;
    color: #828d9f
}

.app-card-progress-list .item-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-card-stats-table .table {
    font-size: .875rem
}


.app-card-stats-table .stat-cell {
    text-align: right
}

/* category progress bar */
.app-card-progress-list .progress {
    height: 0.5rem;
}