.chhose-question-section{
    padding: 30px;
}

#question-container{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#saveSelectQuestion{
    margin: 20px;
}

#select-action-btn{
    display: flex;
    justify-content: end
}